{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DFQM - Login</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/loginstyles.css" %}">


</head>
<body id="LoginForm">

<div class="container">
    <h1 class="form-heading text-center">DFQM Cluster Login</h1>
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>User Login</h2>
                <p>Please enter your email and password</p>
            </div>
            <form id="login" method="post" role="form">{% csrf_token %}
                <div class="form-group">
                    {{ form.non_field_errors }}
                    <div class="fieldWrapper">
                        {{ form.username.errors }}
                        {{ form.username }}
                    </div>

                <div class="form-group">
                    <div class="fieldWrapper">
                        {{ form.password.errors }}
                        {{ form.password }}
                    </div>
                </div>
                    <ul>
                        {% if errors %}
                            <li style="color: red">{{ errors }}</li>
                        {% endif %}
                    </ul>

                <div class="forgot">
                    <a href="reset.html">Forgot password?</a>
                </div>

                <button style="background-color: #0069d9; border-color: #0062cc" type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>

        </div>
        <p class="botto-text"> Designed by <a href="mailto:eancedeg@gmail.com"><u>Evys Ancede Gallardo</u></a></p>
    </div>
</div>

<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
</body>
</html>